---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { AUTHOR } from '../../consts';

const posts = (await getCollection('blog'))
  .filter((p) => !p.data.draft)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout title={`Writing — ${AUTHOR}`} contentWidth="narrow">
  <h1 class="title is-2">Writing</h1>
  <p class="subtitle">Miscellany on software, music, and life.</p>

  <div class="content">
    {
      posts.map((p) => (
        <div class="box">
          <h2 class="title is-4">
            <a href={`/blog/${p.slug}/`}>{p.data.title}</a>
          </h2>
          <p class="subtitle is-6 has-text-grey">
            {p.data.pubDate.toLocaleDateString('en-US', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })}
          </p>
          <p>{p.data.description}</p>
        </div>
      ))
    }
  </div>
</BaseLayout>
